@using Forum.Application.MainUsers;
@model UserLoginModel;
@{
	ViewData["Title"] = "Login";
}
 <div class="row">
    <div class="col-md-8 offset-2">
          <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input class="btn btn-outline-success float right" type="submit" value="Log in" />
                    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
                </div>
          </form>
    </div>
</div>