@using Forum.Application.MainUsers
@using Forum.Domain.user
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager;
@inject IUserService UserService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Forum.ItAcademy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RunGroopWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Forum.ItAcademy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                       
                        @if (User.Identity!.IsAuthenticated)
                        {

                            var userId = int.Parse(UserManager.GetUserId(User));
                            var commentCount = await UserService.CommentCount(userId);

                            if (commentCount > 2)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Topic" asp-action="Create">Create Topic</a>
                                </li>
                            }
                            


                            var user = await UserManager.FindByIdAsync(userId.ToString());

                            var roles = await UserManager.GetRolesAsync(user);
                            if (roles.Contains("Administrator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Topics">Admin Topics</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Users">Admin Users</a>
                                </li>
                            }
                            <form asp-controller="User" asp-action="Index2" method="get" class="form-inline justify-content-between">
                                <div class="form-group flex-grow-1 d-flex align-items-center">
                                    <input type="email" name="email" class="form-control w-100" placeholder="Enter User Email" required>
                                    <button type="submit" class="btn btn-primary ml-2">Search</button> <!-- Using ml-2 for spacing -->
                                </div>
                            </form>


                            <li class="nav-item">
                                <form asp-controller="User" asp-action="Index" asp-route-id="@userId" method="post" class="nav-link text-dark">
                                    <button type="submit" class="btn btn-outline-danger">Profile</button>
                                </form>
                            </li>

                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post" class="nav-link text-dark">
                                    <button type="submit" class="btn btn-outline-danger">Logout</button>
                                </form>
                            </li>


                        }
                        else
                        {
                         
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
